*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: whitesmoke;
}
body{
    background-color: #110934;
}
.welcoming-paragraph{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: all .3s;
}
.welcoming-paragraph p{
    font-family: 'Inter', sans-serif;
    
}
.welcoming-paragraph .merhaba{
    font-size: 10rem;
    font-weight: 900;
}
.welcoming-paragraph #motivasyonSozu{
    font-size: 2rem;
    font-weight: 100;
    color: rgb(172, 172, 172);
}
.buttons{
    display: flex;
    align-items: center;
    gap: 30px;
}
.buttons button{
    color:black;
    padding: 10px 20px;
    margin-top: 200px;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    transition: all .5s;
}
.buttons .kayit{
    background-color: #A72002;
    color: white;
    border: 1px solid #A72002;
}
.buttons .giris{
    background-color: transparent;
    color: #A72002
}
.buttons .kayit:hover{
    background-color: white;
    color: #A72002;
}
.buttons .giris:hover{
    color:white;
}

/* Kayit Olma Ekranı*/
.register-login-screen{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #0a062094;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.register-login-screen .register-screen{
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 75px;
    padding-right: 75px ;
    background-color: #0e072b;
    border: 2px solid #7c1700;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    border-radius: 30px;
    display: none;
}

.register-login-screen .register-screen .input-box{
    display: flex;
    border: 2px solid #7c1700;
    background-color: #A72002;
    border-radius: 30px;
    padding:10px;
}

.register-login-screen .register-screen input{
    padding: 1px;
    color: whitesmoke;
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    outline: none;
}
.register-login-screen .register-screen label{
    font-size: 20px;
}
.register-login-screen .register-screen .label-input-box{
    padding-bottom: 30px;
}
.register-login-screen .register-screen p {
    text-align: center;
    font-size: 80px;
    padding-bottom:50px;
    font-weight: 900px;
    text-decoration: underline;
}
.register-login-screen .register-screen .register-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-login-screen .register-screen button{
    background-color: #A72002;
    border: 1px solid #7c1700;
    height: 40px;
    width: 150px;
    border-radius: 20px;
}
.register-login-screen .register-screen button:hover{
    background-color: white;
    color: #A72002;
    transition: all .5s;
}

/* Giriş Yapma Ekranı */

.register-login-screen .login-screen{
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 75px;
    padding-right: 75px ;
    background-color: #0e072b;
    border: 2px solid #7c1700;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    border-radius: 30px;
    display: none;
}
.register-login-screen .login-screen p {
    text-align: center;
    font-size: 80px;
    padding-bottom:50px;
    font-weight: 900px;
    text-decoration: underline;
}
.register-login-screen .login-screen .label-input-box{
    padding-bottom: 30px;
}
.register-login-screen .login-screen label{
    font-size: 20px;
}
.register-login-screen .login-screen .input-box{
    display: flex;
    border: 2px solid #7c1700;
    background-color: #A72002;
    border-radius: 30px;
    padding:10px;
}
.register-login-screen .login-screen input{
    padding: 1px;
    color: whitesmoke;
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    outline: none;
}
.register-login-screen .login-screen .login-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-login-screen .login-screen button{
    background-color: #A72002;
    border: 1px solid #7c1700;
    height: 40px;
    width: 150px;
    border-radius: 20px;
}.register-login-screen .login-screen button:hover{
    background-color: white;
    color: #A72002;
    transition: all .5s;
}